.css_campaignname_det_label, .css_campaignname_det_label:hover {text-align: left;vertical-align: middle;}
.css_campaignname_det_line, .css_campaignname_det_line:hover {height:0px;text-align: left;}
.css_discription_det_label, .css_discription_det_label:hover {text-align: left;vertical-align: middle;}
.css_discription_det_line, .css_discription_det_line:hover {height:0px;text-align: left;}
.css_status_det_label, .css_status_det_label:hover {text-align: left;vertical-align: middle;}
.css_status_det_line, .css_status_det_line:hover {height:0px;text-align: left;}
.css_startdate_det_label, .css_startdate_det_label:hover {text-align: left;vertical-align: middle;}
.css_startdate_det_line, .css_startdate_det_line:hover {height:0px;text-align: left;}
.css_smtpprofile_det_label, .css_smtpprofile_det_label:hover {text-align: left;vertical-align: middle;}
.css_smtpprofile_det_line, .css_smtpprofile_det_line:hover {height:0px;text-align: left;}
.css_template_det_label, .css_template_det_label:hover {text-align: left;vertical-align: middle;}
.css_template_det_line, .css_template_det_line:hover {height:0px;text-align: left;}
.css_bounceemailno_det_label, .css_bounceemailno_det_label:hover {text-align: left;vertical-align: middle;}
.css_bounceemailno_det_line, .css_bounceemailno_det_line:hover {height:0px;text-align: left;}
